.filter-wraper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .18);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.73)
}

.filter-wraper .input, 
.filter-wraper select {
    min-width: 200px;
    height: 30px;
    font-size: 12px;
}
.filter-wraper .inputLabel,
.filter-wraper  .select p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.73)
}